<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi-Way Business Solutions - [page name]</title>
    <link rel="icon" href="../Images/MWB_BrowserIcon.png" type="image/png">
    <link rel="stylesheet" href="../CSS/Styles.css" />
</head>

<body>
    <div class="content-wrapper">
        <header>
            <div class="logo"><a href="../"><img src="../Images/MWB_Small.png"
                        alt="Mi-Way Business Solutions" /></a></div>
            <nav>
                <ul class="nav-links">
                    <!-- <li><a href="#services">Products & Services</a></li> -->
                    <li><a href="../">Home</a></li>
                    <li><a href="../about-us/">About Us</a></li>
                    <li><a href="../contact/">Contact Us</a></li>
                </ul>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>

        <main>
                <h1>Page Title</h1>
                <br>
                <p>Page Body</p>
        </main>

        <script>
            const hamburger = document.querySelector(".hamburger");
            const navLinks = document.querySelector(".nav-links");
            const body = document.body;

            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("open");
                navLinks.classList.toggle("active");
                body.classList.toggle("no-scroll");
            });
        </script>
        <footer>
            <!-- Copyrights Section -->
            <div class="copyright">&copy;2025 - Mi-Way Business Solutions</div>
            <div class="agreements">
                <p><a href="../eula/">License Agreement</a>    -    <a href="../privacy-statement/">Privacy Statement</a></p>
            </div>
        </footer>
    </div>
</body>

</html>